# Core Python packages
numpy>=1.24.3

# Deep Reinforcement Learning
torch>=2.4.0
gym>=0.26.2

# Visualization
matplotlib>=3.9.1

# Testing and Development (optional, for dev only)
pytest>=6.2.0
black>=21.7b0
flake8>=3.9.0